@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* BEGIN letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] > header + p{
	margin-bottom: 1em;
}

[epub|type~="z3998:letter"] > header + p + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end letters */

/* BEGIN songs */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* end songs */
